<a href="https://colab.research.google.com/github/yakuoku/David-s-Repository/blob/main/Ejercicios_2_resueltos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejercicio 1 : Listas

Tienen la siguiente lista锯金イ猸

```list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]```

Se desea obtener el siguiente output **pero** usando solo el met贸do ```append```:

```[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]```

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Ejercicio 2 : Sets
Dados los siguientes conjuntos光解

```s1 = {10, 20, 30, 40, 50}```

```s2 = {30, 40, 50, 60, 70}```

1. Como es posible obtener el siguiente output con alguno de los met贸dos vistos para sets

```{40, 50, 30}```

2. Como es posible obtener el siguiente output con alguno de los met贸dos vistos para sets

```{70, 40, 10, 50, 20, 60, 30}```

3. Extraer todos los elementos de s2 que no estan en s1

In [ ]:
s1 = {10, 20, 30, 40, 50}

s2 = {30, 40, 50, 60, 70}

print(s1.intersection(s2))

print(s2.union(s1))

print(s2.difference(s1))

{40, 50, 30}
{70, 40, 10, 50, 20, 60, 30}
{60, 70}

## Ejercicio 3: Tuplas

Dada la siguiente tupla扳

```tupla=(10, 20, 30, 40, 50)```

Responder:

1. Ordenar la tupla de mayor a menor
2. Extraer los valores de la tupla en las siguientes variables: a,b,c,d,e
3. Ahora suponga que tiene la siguiente tupla: 
```tupla_d = (11, [22, 33], 44, 55)```
Recordando el concepto de inmutabilidad de las tuplas, ser铆a posible poder modificar el valor **22** por **222** o en este caso no se puede?. Justifiquen

In [ ]:
tupla=(10, 20, 30, 40, 50)
print(tupla[::-1])
a,b,c,d,e=tupla
print(a,b,c,d,e)
tupla = (11, [22, 33], 44, 55)
tupla[1][0]= 222
print(tupla)

(50, 40, 30, 20, 10)
10 20 30 40 50
(11, [222, 33], 44, 55)

## Ejercicio 4: Diccionarios

1. Supongan que tienen el siguiente diccionario similar a lo que se obtiene de una API ([texto del enlace](https://www.freecodecamp.org/news/what-is-an-api-in-english-please-b880a3214a82/)) 
```
dict_david = {
    "clase": {
        "estudiante": {
            "nombre": "David",
            "notas": {
                "fisica": 4.9,
                "matematicas": 4.8
            }
        }
    }
}
```

Como se puede obtener el valor respectivo para la llave primaria ```matematicas```モㄢ

2. Con base en el siguiente diccionario, renombrar la llave primaria ciudad por ubicacion ケ♀

```dic_prueba = {
  "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}
```

3. Obtener la llave primaria del valor minimo para el siguiente diccionario 娥У

```
dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}
```

4. Con base en el siguiente diccionario
```
dict_a = {
    'e1': {'nombre': 'David', 'salario': 12000000},
    'e2': {'nombre': 'Juan', 'salario': 7590000},
    'e3': {'nombre': 'Amir', 'salario': 6787000}
}
```
Reemplazar el valor de 7590000 de Juan por 8000000.

In [ ]:
print('Primero')
dict_david = {
 "clase": {
     "estudiante": {
         "nombre": "David",
         "notas": {
             "fisica": 4.9,
             "matematicas": 4.8
         }
     }
 }
}
print(dict_david['clase']['estudiante']['notas']['matematicas'])

Primero
4.8

In [ ]:
  print('Segundo')
  p2={
      "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}
p2["ubc"]=p2.pop('ciudad')
print(p2)

Segundo
{'nombre': 'Juan', 'edad': 25, 'salario': 8000000, 'ubc': 'Santiago'}

In [ ]:
print('Tercero')
dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}
print(min(dicc, key=dicc.get))

Tercero
Calculo Actuarial

In [ ]:
print('Cuarto')
dict_a = {
 'e1': {'nombre': 'David', 'salario': 12000000},
 'e2': {'nombre': 'Juan', 'salario': 7590000},
 'e3': {'nombre': 'Amir', 'salario': 6787000}
}
dict_a['e2']['salario']=8000000
print(dict_a)

Cuarto
{'e1': {'nombre': 'David', 'salario': 12000000}, 'e2': {'nombre': 'Juan', 'salario': 8000000}, 'e3': {'nombre': 'Amir', 'salario': 6787000}}