<a href="https://colab.research.google.com/github/yakuoku/David-s-Repository/blob/main/Ejercicios_4_Resueltos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Google Drive**

In [7]:
from google.colab import drive
import os
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [8]:
%cd '/content/gdrive/MyDrive/Bootcamp/Semana 2/'

/content/gdrive/MyDrive/Bootcamp/Semana 2

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
import pandas as pd
og = pd.read_csv('Summer-Olympic-medals-1976-to-2008 (1).csv',sep=",", encoding='latin-1')
og

           City    Year      Sport  ...        Country Event_gender   Medal
0      Montreal  1976.0   Aquatics  ...   East Germany            W  Silver
1      Montreal  1976.0   Aquatics  ...   Soviet Union            M  Bronze
2      Montreal  1976.0   Aquatics  ...  United States            M    Gold
3      Montreal  1976.0   Aquatics  ...          Italy            M  Silver
4      Montreal  1976.0   Aquatics  ...  United States            W  Bronze
...         ...     ...        ...  ...            ...          ...     ...
15428   Beijing  2008.0  Wrestling  ...         France            M  Bronze
15429   Beijing  2008.0  Wrestling  ...        Georgia            M    Gold
15430   Beijing  2008.0  Wrestling  ...     Azerbaijan            M  Silver
15431   Beijing  2008.0  Wrestling  ...         France            M    Gold
15432   Beijing  2008.0  Wrestling  ...           Cuba            M    Gold

[15433 rows x 11 columns]

# **Primer Punto**

In [12]:
og.set_index('Year')}

            City      Sport  ... Event_gender   Medal
Year                         ...
1976.0  Montreal   Aquatics  ...            W  Silver
1976.0  Montreal   Aquatics  ...            M  Bronze
1976.0  Montreal   Aquatics  ...            M    Gold
1976.0  Montreal   Aquatics  ...            M  Silver
1976.0  Montreal   Aquatics  ...            W  Bronze
...          ...        ...  ...          ...     ...
2008.0   Beijing  Wrestling  ...            M  Bronze
2008.0   Beijing  Wrestling  ...            M    Gold
2008.0   Beijing  Wrestling  ...            M  Silver
2008.0   Beijing  Wrestling  ...            M    Gold
2008.0   Beijing  Wrestling  ...            M    Gold

[15433 rows x 10 columns]

# **Segundo Punto**

In [20]:
atleta=pd.Series(og['Athlete'])
lista=atleta.str.split(',', n=1, expand=True)
og['Name']=lista[0]
og['Last name']=lista[1]
og.pop('Athlete')
og

           City    Year      Sport  ...   Medal       Name        Last name
0      Montreal  1976.0   Aquatics  ...  Silver     KÃ–HLER          Christa
1      Montreal  1976.0   Aquatics  ...  Bronze   KOSENKOV        Aleksandr
2      Montreal  1976.0   Aquatics  ...    Gold      BOGGS    Philip George
3      Montreal  1976.0   Aquatics  ...  Silver   CAGNOTTO   Giorgio Franco
4      Montreal  1976.0   Aquatics  ...  Bronze     WILSON   Deborah Keplar
...         ...     ...        ...  ...     ...        ...              ...
15428   Beijing  2008.0  Wrestling  ...  Bronze     GUENOT       Christophe
15429   Beijing  2008.0  Wrestling  ...    Gold  KVIRKELIA         Manuchar
15430   Beijing  2008.0  Wrestling  ...  Silver    RAHIMOV          Vitaliy
15431   Beijing  2008.0  Wrestling  ...    Gold     GUENOT           Steeve
15432   Beijing  2008.0  Wrestling  ...    Gold      LOPEZ           Mijain

[15433 rows x 12 columns]

# **Tercer punto**

In [77]:
Paises=pd.Series(og['Country'])
t=(Paises.value_counts())
print(Paises.value_counts())
print('-----------------------------------------')
print(t.index[0], 'es el pais que mas tiene')

United States           1992
Soviet Union            1021
Australia                798
Germany                  691
China                    679
                        ...
United Arab Emirates       1
Senegal                    1
Barbados                   1
Cote d'Ivoire              1
Macedonia                  1
Name: Country, Length: 127, dtype: int64
-----------------------------------------
United States es el pais que mas tiene

In [73]:
#Bonus 1: Paises por tipo de medallas
#Metodo: Nerf this --> Busca dentro del conjunto de datos con una condicion
oro=og.query('Medal=="Gold"')
paises=pd.Series(oro['Country'])
g=paises.value_counts()
print(paises.value_counts())
print('-----------------------------------------')
print(g.index[0], 'es el pais que mas tiene')

United States    928
Soviet Union     439
East Germany     286
Germany          237
China            234
                ...
Colombia           1
Panama             1
Tunisia            1
Ecuador            1
Burundi            1
Name: Country, Length: 87, dtype: int64
-----------------------------------------
United States es el pais que mas tiene

In [72]:
plata=og.query('Medal=="Silver"')
paises=pd.Series(plata['Country'])
s=paises.value_counts()
print(paises.value_counts())
print('-----------------------------------------')
print(s.index[0], 'es el pais que mas tiene')

United States            583
Soviet Union             285
Australia                270
China                    252
Russia                   206
                        ...
Netherlands Antilles*      1
Saudi Arabia               1
Syria                      1
Uruguay                    1
Kyrgyzstan                 1
Name: Country, Length: 106, dtype: int64
-----------------------------------------
United States es el pais que mas tiene

In [74]:
bronce=og.query('Medal=="Bronze"')
paises=pd.Series(bronce['Country'])
b=paises.value_counts()
print(paises.value_counts())
print('-----------------------------------------')
print(b.index[0], 'es el pais que mas tiene')

United States    481
Australia        312
Soviet Union     297
Germany          278
Russia           240
                ...
Zambia             1
Eritrea            1
Mozambique         1
Kuwait             1
Togo               1
Name: Country, Length: 108, dtype: int64
-----------------------------------------
United States es el pais que mas tiene

# **Cuarto Punto**

In [107]:
Men=og.query('Gender=="Men"')
medallas=pd.Series(Men['Year'])
h=(medallas.value_counts())
print(h.sort_index(ascending=True))

1976.0     924
1980.0     958
1984.0     973
1988.0    1011
1992.0    1105
1996.0    1082
2000.0    1126
2004.0    1099
2008.0    1110
Name: Year, dtype: int64

In [106]:
#Bonus 2: Mujeres
Women=og.query('Gender=="Women"')
medallas=pd.Series(Women['Year'])
w=(medallas.value_counts())
print(w.sort_index(ascending=True))

1976.0    381
1980.0    429
1984.0    486
1988.0    535
1992.0    600
1996.0    777
2000.0    889
2004.0    899
2008.0    932
Name: Year, dtype: int64

In [121]:
#Bonus 3: Hombres vs Mujeres
Women=og.query('Gender=="Women"')
medallas=pd.Series(Women['Year'])
w=(medallas.value_counts())
wt=w.sum()
Men=og.query('Gender=="Men"')
medallas=pd.Series(Men['Year'])
h=(medallas.value_counts())
ht=h.sum()

In [125]:
if ht>wt:
  print('Los hombres han tenido mas predominancia en medallas por', ht-wt, 'medallas')
else:
  print('Las mujeres han tenido mas predominancia en medallas por', wt-ht, 'medallas')

Los hombres han tenido mas predominancia en medallas por 3460 medallas